<div class="container">
<div>
	<acme-navbar ></acme-navbar>
</div>	

<h1>Hierarchy Tree</h1>
<h3>Click on a name to select a category </h3>
  
<div class="row">
	<div class="col-xs-6">
    	<tree-data 
		      	data="vm.data"
		      	mark="true"
		      	handler="vm.selectCategoryHandler"
		      	selected="vm.selectedCategory"
		      	display-property-name="Name"
		      	value-property-name="Id"
		      	value-alt-property-name="TempId"
		      	children-property-name="ChildCategories">
		</tree-data>
	</div>

  	<div class="col-xs-6" >
	  	<div class="component-row" data-ng-show="vm.categorySelected">
		  	<h3 >
			  	Category Selected:
			  	{{vm.selectedCategory.Name}}
		  	</h3>
		  	<div class="component-row">
		  		<button class="btn btn-danger" 
		  		data-ng-click=vm.setCategoryStateToDelete()>Delete!
		  		</button>
				<button class="btn btn-primary" 
				data-ng-click="vm.addChildToSelected()">
	  				Add Child to Parent
	  			</button>
		  	</div>
		  	<div class="component-row">
			  	<input type="text" 
			  	data-ng-model="vm.selectedCategory.Name" />
		  	</div>
	  	</div>
	</div>
</div>
